<h1 class="h2 font-weight-normal" style="text-align:center; padding-top:40px">Jaki jest twój cel?</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card img-fluid">
        <img class="card-img-top" src="/assets/food2.jpeg" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title text-white"><b>Zwiększ masę mięśniową</b></h4>
          <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example
            text some example text. Some example text some example text.</p> -->
            <div class="text-center">
                <a href="#" class="btn btn-primary">Wybierz</a>
            </div><br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card img-fluid">
        <img class="card-img-top" src="/assets/food3.jpeg" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title text-white"><b>Wyrzeźb mięśnie</b></h4>
          <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example
            text some example text. Some example text some example text.</p> -->
            <div class="text-center">
                <a href="#" class="btn btn-primary">Wybierz</a>
            </div><br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card img-fluid">
        <img class="card-img-top" src="/assets/food1.jpeg" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title text-white"><b>Utrzymaj wagę</b></h4>
          <!-- <p class="card-text">Some example text some example text. Some example text some example text. Some example
            text some example text. Some example text some example text.</p> -->
            <div class="text-center">
                <a href="#" class="btn btn-primary">Wybierz</a>
            </div><br />
        </div>
      </div>
    </div>
  </div>
</div>