.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.background-image {
    background-image: url('/assets/login.jpeg');
    background-position: center;
    background-repeat: no-repeat;
}

// .background-image:after {
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     display: block;
//     background-color: rgba(0, 0, 0, 0.5);
//   }

.form-signin {
    &.checkbox {
        font-weight: 400;
    }
    &.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
        &:focus {
            z-index: 2;
        }
    }
    input[type="email"] {
        margin-bottom: -1px;
    }
    input[type="password"] {
        margin-bottom: 10px;
    }
}

.center {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

