<!-- <div *ngIf="myChart">
  
</div> -->

<br />
<div class="row">
  <div class="col-md-2">
    <h3>Wykres: </h3>
  </div>
  <div class="col-md-6">
      <select class="form-control" [(ngModel)]="chart" (ngModelChange)="draw()">
          <option value = "1" (click)="draw()">Ilość kalorii w diecie</option>
          <option value = "2" (click)="draw()">Ilość posiłków w diecie</option>
          <option value = "3" (click)="draw()">Ilość dni treningowych w tygodniu</option>
        </select>
  </div>
</div>
<br />
<div>
  <canvas id="myChart" width="1200" height="600"></canvas>
</div>
