<div *ngIf="diet === null">
  <br />
  <h2>Nie posiadasz aktualnie żadnych diet. <a style="margin-left:1rem; margin-bottom: 0.5rem;" routerLink="stworz" class="btn btn-primary">Stwórz dietę już teraz!</a> </h2>
</div>
<div *ngIf="diet">
  <br/>
  <div class="meals row" *ngFor="let item of model">
    <div class="col-md-12">
      <h2>{{item.type}}</h2>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h3>{{item.name}}:</h3>
          <div *ngFor="let product of item.products">
            <p>* {{product.name}} - {{produ}} {{product.value}}gram</p>
          </div><br />
        </div>
        <div class="col-md-6" style="margin: auto">
          <img class="displayed" width="200px" height="200px" src={{item.photo}} alt="Card image">
        </div>
      </div>
      <br /><br />
    </div>
  </div>