<div *ngIf="diet">
  <!-- <h1>Cześć, {{diet.userName}}. Twoim celem jest {{diet.dietName}}</h1><br /> -->
  <!-- <h2>Twoje dzienne zapotrzebowanie to: {{diet.calories}}kcal.</h2><br /> -->
  <br/>
  <div class="meals row" *ngFor="let item of model">
    <div class="col-md-12">
      <h2>{{item.type}}</h2>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h3>{{item.name}}:</h3>
          <div *ngFor="let product of item.products">
            <p>* {{product.name}} - {{produ}} {{product.value}}gram</p>
          </div><br />
        </div>
        <div class="col-md-6" style="margin: auto">
          <img class="displayed" width="200px" height="200px" src={{item.photo}} alt="Card image">
        </div>
      </div>
      <br /><br />
    </div>
  </div>