
<div class="center">
  <br />
  <br />
  <div class="row container-fluid">
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="src/assets/bmi.jpeg" alt="Card image">
        <div class="card-img-overlay">
          <div style="background-color:rgba(0, 0, 0, 0.5); border-radius: 25px;" class="text-center">
            <br />
            <h5 class="card-title" style="text-align:center; font-size: 200%;"><b>BMI</b></h5><br />
            <p class="card-text text-center" style="font-size: 120%;">Oblicz swój wskaźnik BMI</p>
            <div class="text-center">
              <br /><a href="#" class="btn btn-primary text-center" routerLink="bmi">Policz</a>
            </div><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="src/assets/bmr.jpeg" alt="Card image">
        <div class="card-img-overlay">
          <div style="background-color:rgba(0, 0, 0, 0.5); border-radius: 25px;" class="text-center">
            <br />
            <h5 class="card-title" style="text-align:center; font-size: 200%;"><b>BMR</b></h5><br />
            <p class="card-text text-center" style="font-size: 120%;">Oblicz ile spalasz kalorii dziennie</p>
            <div class="text-center">
              <br /><a href="#" class="btn btn-primary text-center" routerLink="bmr">Policz</a>
            </div><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="src/assets/bodyfat2.jpeg" alt="Card image">
        <div class="card-img-overlay">
          <div style="background-color:rgba(0, 0, 0, 0.5); border-radius: 25px;" class="text-center">
            <br />
            <h5 class="card-title" style="text-align:center; font-size: 200%;"><b>Tkanka tłuszczowa</b></h5><br />
            <p class="card-text text-center" style="font-size: 120%;">Oblicz swój poziom tkanki tłuszczowej</p>
            <div class="text-center">
              <br /><a href="#" class="btn btn-primary text-center" routerLink="bf">Policz</a>
            </div><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="row container-fluid">
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="src/assets/calories.jpeg" alt="Card image">
        <div class="card-img-overlay">
          <div style="background-color:rgba(0, 0, 0, 0.5); border-radius: 25px;" class="text-center">
            <br />
            <h5 class="card-title" style="text-align:center; font-size: 200%;"><b>Kalorie</b></h5><br />
            <p class="card-text text-center" style="font-size: 120%;">Oblicz jak dużo energii sporzyłeś </p>
            <div class="text-center">
              <br /><a href="#" class="btn btn-primary text-center" routerLink="bmr">Policz</a>
            </div><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="src/assets/spalanie.jpeg" alt="Card image">
        <div class="card-img-overlay">
          <div style="background-color:rgba(0, 0, 0, 0.5); border-radius: 25px;" class="text-center">
            <br />
            <h5 class="card-title" style="text-align:center; font-size: 200%;"><b>Spalanie</b></h5><br />
            <p class="card-text text-center" style="font-size: 120%;">Oblicz jak dużo spalisz kalorii</p>
            <div class="text-center">
              <br /><a href="#" class="btn btn-primary text-center" routerLink="bmr">Policz</a>
            </div><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="src/assets/weight.jpeg" alt="Card image">
        <div class="card-img-overlay">
          <div style="background-color:rgba(0, 0, 0, 0.5); border-radius: 25px;" class="text-center">
            <br />
            <h5 class="card-title" style="text-align:center; font-size: 200%;"><b>Maksymalny ciężar</b></h5><br />
            <p class="card-text text-center" style="font-size: 120%;">Oblicz ile jesteś w stanie podnieść</p>
            <div class="text-center">
              <br /><a href="#" class="btn btn-primary text-center" routerLink="bmr">Policz</a>
            </div><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="src/assets/BMR.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="text-align:center">BMR</h5>
    <p class="card-text text-center">Twoje dzienne zapotrzebowanie kaloryczne.</p>
    <div class="text-center">
      <a href="#" class="btn btn-primary text-center">Policz</a>
    </div>
  </div>
</div>

<div class="card bg-dark text-red" style="width: 18rem;">
  <img class="card-img" src="src/assets/BMR.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title" style="text-align:center "><b>BMR</b></h5>
    <p class="card-text text-center">Twoje dzienne zapotrzebowanie kaloryczne.</p>
    <div class="text-center">
      <a href="#" class="btn btn-primary text-center">Policz</a>
    </div>
  </div>
</div> -->