<header>
    <nav *ngIf="route === '/login'|| route === '/register'; else elseTemplate" class="navbar navbar-expand-md navbar-fixed-top">
        <a class="navbar-brand" routerLink="">TrainSmart </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul *ngIf="status" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a *ngIf="!isAdmin" class="nav-link" routerLinkActive="active" routerLink="panel-uzytkownika">Pulpit</a>
                    <a *ngIf="isAdmin" class="nav-link" routerLinkActive="active" routerLink="admin">Pulpit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" routerLink="">Wyloguj <span class="oi oi-account-logout"></span></a>
                </li>
            </ul>

            <ul *ngIf="!status" class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="logowanie">Zaloguj <span class="oi oi-account-login"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="rejestracja">Dołącz <span class="oi oi-person"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <ng-template #elseTemplate>
        <nav class="navbar navbar-expand-md navbar-dark custom-color fixed-top">
            <a class="navbar-brand" routerLink="">TrainSmart </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">

                <ul *ngIf="status" class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a *ngIf="!isAdmin" class="nav-link" routerLinkActive="active" routerLink="panel-uzytkownika">Pulpit</a>
                        <a *ngIf="isAdmin" class="nav-link" routerLinkActive="active" routerLink="admin">Pulpit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()" routerLink="">Wyloguj <span class="oi oi-account-logout"></span></a>
                    </li>
                </ul>

                <ul *ngIf="!status" class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="logowanie">Zaloguj <span class="oi oi-account-login"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="rejestracja">Dołącz <span class="oi oi-person"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </ng-template>
</header>