<div class="container-fluid center">
  <div class="row center">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" (click)="url = '/admin/o-mnie'" [ngClass]="{'isBold': url === '/admin/o-mnie'}"
              routerLink="o-mnie">
              <i class="fas fa-user"></i>
              O mnie
            </a>
          </li>
          <hr />
          <li class="nav-item">
            <a class="nav-link" (click)="url = '/admin/uzytkownicy'" [ngClass]="{'isBold': url === '/admin/uzytkownicy'}"
              routerLink="uzytkownicy">
              <i class="fas fa-users-cog"></i>
              Użytkownicy
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="url = '/admin/produkty'" [ngClass]="{'isBold': url === '/admin/produkty'}"
              routerLink="produkty">
              <i class="fas fa-drumstick-bite"></i>
              Produkty
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="url = '/admin/posilki'" [ngClass]="{'isBold': url === '/admin/posilki'}" routerLink="produkty">
              <i class="fas fa-utensils"></i>
              Posiłki
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="url = '/admin/diety'" [ngClass]="{'isBold': url === '/admin/diety'}"
              routerLink="produkty">
              <i class="fas fa-balance-scale"></i>
              Diety
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="url = '/admin/cwiczenia'" [ngClass]="{'isBold': url === '/admin/cwiczenia'}"
              routerLink="cwiczenia">
              <i class="fas fa-dumbbell"></i>
              Ćwiczenia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="url = '/admin/treningi'" [ngClass]="{'isBold': url === '/admin/treningi'}"
              routerLink="cwiczenia">
              <i class="fas fa-scroll"></i>
              Treningi
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="container-fluid center">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>