<!-- <div class="row">
  <div class="col-md-4">
    <h3>Wskaźnik podstawowej przemiany materii</h3>
    <p>Tutaj tekst(opis)</p>
  </div>
  <div class="col-md-6">
    <form (ngSubmit)="onSubmit()" #bmrForm="ngForm">
      <div class="form-group row">
        <label for="sex" class="col-md-2 col-form-label">Płeć</label>
        <div class="btn-group btn-group-toggle col-md-4" data-toggle="radio">
          <label class="btn btn-secondary active">
            <input type="radio" name="male" id="man" value="male" [(ngModel)]="model.sex" autocomplete="off" checked #male = "ngModel"> Mężczyzna
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="female" id="woman" value="female" [(ngModel)]="model.sex" autocomplete="off" #female = "ngModel"> Kobieta
          </label>
        </div>
      </div>

      <div class="form-group row">
        <label for="weight" class="col-md-2 col-form-label">Waga</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="weight" [(ngModel)]="model.weight" name="weight">
        </div>
      </div>
 
      <div class="form-group row">
        <label for="height" class="col-md-2 col-form-label">Wzrost</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="height" [(ngModel)]="model.height" name="height">
        </div>
      </div>

      <div class="form-group row">
        <label for="age" class="col-md-2 col-form-label">Wiek</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="age" [(ngModel)]="model.age" name="age">
        </div>
      </div>
      <br/>
      <button type="submit" class="btn btn-success" [disabled]="!bmrForm.form.valid">Policz</button>
    </form>
  </div>
</div> -->

<div class="diet-center">
  <div class="row">
    <div class="col-md-4">
      <h3>BMR - Wskaźnik podstawowej przemiany materii</h3><br />
      <p>To kalkulator zapotrzebowania kalorycznego człowieka, które jest potrzebne aby utrzymywać podstawowe 
        funkcje organizmu zachodzące w układzie nerwowym i narządach ludzkiego ciała.
      </p><br />
      <div class="card img-fluid">
        <img class="card-img-top" src="/assets/bmr-calculator.jpg" alt="Card image">
      </div>
    </div>
    <div class="col-md-8" style="display:flex">
      <form class="form-createDiet diet" #bmrForm="ngForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 font-weight-normal">Wprowadź swoje dane</h1><br />

        <label style="margin-right : 1rem">Płeć</label>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="male" id="male" value="male" [(ngModel)]="model.sex" checked>
          <label class="form-check-label" for="male">Mężczyzna</label>
        </div>
        <div class="form-check form-check-inline margin-bottom">
          <input class="form-check-input" type="radio" name="female" id="female" value="female" [(ngModel)]="model.sex">
          <label class="form-check-label" for="female">Kobieta</label>
        </div>

        <label for="inputWeight" class="sr-only">Waga</label>
        <input type="number" class="form-control" id="weight" #weight="ngModel" placeholder="Waga" name="weight" required="" autofocus=""
          [(ngModel)]="model.weight"><br />
        <div *ngIf="weight.invalid && (weight.dirty && weight.touched)" class="alert alert-danger">
          <div *ngIf="weight.errors.required">
            Waga jest wymagana
          </div>
        </div>
        <label for="inputHeight" class="sr-only">Wzrsot</label>
        <input type="number" class="form-control" id="inputHeight" #height="ngModel" placeholder="Wzrost" name="height"
          required="" [(ngModel)]="model.height"><br />
        <div *ngIf="height.invalid && (height.dirty && height.touched)" class="alert alert-danger">
          <div *ngIf="height.errors.required">
            Wzrost jest wymagany
          </div>
        </div>
        <label for="inputAge" class="sr-only">Wiek</label>
        <input type="number" class="form-control" id="inputAge" #age="ngModel" placeholder="Wiek" name="age"
          required="" [(ngModel)]="model.age"><br />
        <div *ngIf="age.invalid && (age.dirty && age.touched)" class="alert alert-danger">
          <div *ngIf="age.errors.required">
            Wiek jest wymagany
          </div>
        </div>

        <div class="row">
          <button class="btn btn-primary" type="submit" [disabled]="!bmrForm.form.valid">Policz</button>
          <button class="btn btn-primary" style="margin-left: 2%" routerLink="/user-panel/kalkulatory">Cofnij</button>
        </div>
        <div *ngIf="result" class="result">
          <p>Twój wskaźnik BMR to: <span>{{bmr}}</span></p>
        </div>
      </form>
    </div>
  </div>
</div>