<header>
  <nav class="navbar navbar-expand-md navbar-fixed-top">
      <!-- <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/images/homepage/logo-white.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">Strona główna</a></li>
                  <li><a href="/oferta">Oferta</a></li>
                  <li><a href="/kontakt">Kontakt</a></li>
                                                                      <li><a href="https://majewskitrenuje.com/sign-in">Zaloguj się</a></li>
                      <li><a href="https://majewskitrenuje.com/sign-up">Dołącz</a></li>
                              </ul>
          </div>
      </div>
 -->


    <a class="navbar-brand" routerLink="/">TrainSmart </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      
        <ul *ngIf="status" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Pulpit</a> 
              </li> 
            <li class="nav-item">
               <a class="nav-link" (click)="logout()" routerLink="/">Wyloguj <span class="oi oi-account-logout"></span></a>
            </li>
          </ul>

          <ul *ngIf="!status" class="nav navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/login">Zaloguj <span class="oi oi-account-login"></span></a>
                </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/register">Dołącz <span class="oi oi-person"></span></a>
              </li>
          </ul>
    </div>
  </nav>
</header>
