<div class="diet-center">
  <div class="row">
    <div class="col-md-4">
      <h3>BMI - wskaźnik masy ciała</h3><br />
      <p>Jest to oferta skierowana dla tych, którzy chcą samodzielnie sprawdzić czy nasza masa
        ciała jest prawidłowa. Wskaźnik BMI w sposób pośredni opisuje zawartość
        tkanki tłuszczowej w organizmie.
      </p><br />
      <div class="card img-fluid">
        <img class="card-img-top" src="/assets/bmi.jpeg" alt="Card image">
      </div>
    </div>
    <div class="col-md-8" style="display:flex">
      <form class="form-createDiet diet" #f="ngForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 font-weight-normal">Wprowadź swoje dane</h1><br />

        <label style="margin-right : 1rem">Płeć</label>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="male" id="male" value="male" [(ngModel)]="model.sex" checked>
          <label class="form-check-label" for="male">Mężczyzna</label>
        </div>
        <div class="form-check form-check-inline margin-bottom">
          <input class="form-check-input" type="radio" name="female" id="female" value="female" [(ngModel)]="model.sex">
          <label class="form-check-label" for="female">Kobieta</label>
        </div>

        <label for="inputWeight" class="sr-only">Waga</label>
        <input type="number" class="form-control" id="weight" #weight="ngModel" placeholder="Waga" name="weight" required="" autofocus=""
          [(ngModel)]="model.weight"><br />
        <div *ngIf="weight.invalid && (weight.dirty && weight.touched)" class="alert alert-danger">
          <div *ngIf="weight.errors.required">
            Waga jest wymagana
          </div>
        </div>
        <label for="inputHeight" class="sr-only">Wzrsot</label>
        <input type="number" class="form-control" id="inputHeight" #height="ngModel" placeholder="Wzrost" name="height"
          required="" [(ngModel)]="model.height"><br />
        <div *ngIf="height.invalid && (height.dirty && height.touched)" class="alert alert-danger">
          <div *ngIf="height.errors.required">
            Wzrost jest wymagany
          </div>
        </div>

        <div class="row">
          <button class="btn btn-primary" type="submit" [disabled]="!height.valid || !weight.valid">Policz</button>
          <button class="btn btn-primary" style="margin-left: 2%" routerLink="/user-panel/kalkulatory">Cofnij</button>
        </div>
        <div *ngIf="result" class="result">
          <p>Twój wskaźnik BMI to: <span>{{bmi}}</span></p>
        </div>
      </form>
    </div>
  </div>
</div>