<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav> -->

<div class="container-fluid center">
  <div class="row center">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="o-mnie">
                <i class="fas fa-user"></i>
              O mnie
            </a>
          </li><hr />
          <li class="nav-item">
            <a class="nav-link" routerLink="dieta">
                <i class="fas fa-utensils"></i>
              Dieta
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="dieta/stworz">
              <i class="fas fa-plus-circle"></i>
              Nowa dieta
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="dieta/stworz">
              <i class="fas fa-history"></i>
              Historia diet
            </a>
          </li><hr />
          <li class="nav-item">
            <a class="nav-link" routerLink="trening">
                <i class="fas fa-dumbbell"></i>
              Trening
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="trening/stworz">
              <i class="fas fa-plus-circle"></i>
              Nowy trening
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="trening">
                <i class="fas fa-history"></i>
              Historia treningów
            </a>
          </li><hr />
          <li class="nav-item">
            <a class="nav-link" routerLink="kalkulatory">
                <i class="fas fa-calculator"></i>
              Kalkulatory
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="suplementacja">
                <i class="fas fa-capsules"></i>
              Suplementacja
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="analiza">
                <i class="far fa-chart-bar"></i>
              Analiza postępów
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="16"></line>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="far fa-file-alt"></i>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="far fa-file-alt"></i>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="far fa-file-alt"></i>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="far fa-file-alt"></i>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="container-fluid center">
        <router-outlet></router-outlet>

      </div>
    </main>
  </div>
</div>